[akashnet-2]

[bitsong-2b]

[cerberus-chain-1]

[chihuahua-1]

[comdex-1]

[core-1]

[cosmoshub-4]

[crescent-1]

[crypto-org-chain-mainnet-1]

[emoney-3]

[evmos_9001-2]

[galaxy-1]

[gravity-bridge-3]

[impacthub-3]

[iov-mainnet-ibc]

[irishub-1]

[jackel-1]

[joe-1]

[juno-1]

[juno-classic]

[kaiyo-1]

[kava_2222-10]

[kichain-2]

[killerqueen-1]

[likecoin-mainnet-2]

[mantle-1]

[meme-1]

[nomic-stakenet-3]

[omniflixhub-1]

[osmosis-1]

[passage-1]

[regen-1]

[sentinelhub-2]

[sifchain-1]

[sommelier-3]

[stargaze-1]

[teritori-1]

[uni-6]

[snapshots]

[all:vars]
ansible_connection=ssh
ansible_user=root
path="/usr/local/go/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/home/{{ user }}/go/bin"
db_backend=goleveldb
ldflags=""
